# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# ML models (IMPORTANT)
*.pkl

# Optional (agar joblib ko track karna hai to comment mat karna)
# *.joblib

# Environment
.env
venv/

# Flutter
.dart_tool/
build/